* {
  margin: 0%;
  padding: 0%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #E1D9BC;
}

h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #1B3C53;
}

p{
    text-align: center; 
}

.container {
  background-color: #6DC3BB;
  padding: 30px 40px;
  border-radius: 10px;
  min-height: 45vh;
  width: 40vh;
}

form {
  margin: 2rem 0 1rem 0;
}

form select,
button,
input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropdown{
    font-size: 1.5rem;
    margin-top: 2rem;
}

.select-container img{
    max-width: 2rem;
}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
}

.select-container select{
    font-size: 1rem;
    width: auto;
}

.msg {
  margin: 2rem 0;
  padding: 12px 16px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 10px;
  background: linear-gradient(135deg, #e6f3ff, #f9fcff);
  color: #003566;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: scale(0.95);
  transition: all 0.3s ease;
}

.msg.show {
  opacity: 1;
  transform: scale(1);
}


.msg.error {
  background: #ffe5e5;
  color: #b00020;
  border-left: 5px solid #ff4d4d;
}


form button{
    height: 3rem;
    background-color: #234C6A;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}